{% extends "base.html" %}
{% block body %}
    <h1>Кинотеатры</h1>
    <table class="table table-bordered table-hover cinemas-list">
        <tr>
            <th>Название</th>
            <th>Адрес</th>
            <th>
                <button class="btn btn-danger">
                    <i class="icon-remove icon-white"></i>
                </button>
            </th>
        </tr>
        {% for cinema in cinemas %}
            <tr>
                <td>
                    <a href="{% url 'cinema' cinema_id=cinema.id %}">
                        {{ cinema.name }}
                    </a>
                </td>
                <td>{{ cinema.address }}</td>
                <td>
                    <button class="btn btn-danger cinema-delete" data-cinema="{{ cinema.id }}">
                        <i class="icon-remove icon-white"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="javascript:void(0)" class="btn btn-primary cinema-add">Добавить кинотеатр</a>
    <div class="modal hide fade" id="cinema-add-dlg">
        <div class="modal-header">
            <h3>Добавление кинотеатра</h3>
        </div>
        <div class="modal-body">
        </div>        
    </div>
    <div class="modal hide fade" id="cinema-delete-dlg">
        <div class="modal-header">
            <h3>Удаление кинотеатра</h3>
        </div>
        <div class="modal-body">
        </div>        
    </div>
{% endblock %}