{% extends "base.html" %}
{% block body %}
    <h1>Кинотеатры</h1>
    <table class="table table-bordered table-hover cinemas-list">
        <tr>
            <th class="column-edit">
                <button class="btn">
                    <i class="icon-edit"></i>
                    Редактировать
                </button>
            </th>
            <th>Название</th>
            <th>Адрес</th>
            <th class="column-delete">
                <button class="btn btn-danger">
                    <i class="icon-remove icon-white"></i>
                    Удалить
                </button>
            </th>
        </tr>
        {% for cinema in cinemas %}
            <tr>
                <td class="column-edit">
                    <button class="btn btn-mini" onclick="cinemaEditDlg('{% url 'cinema-edit' cinema.id %}')">
                        <i class="icon-edit"></i>
                    </button>                
                </td>
                <td>
                    <a href="{% url 'cinema' cinema_id=cinema.id %}">
                        {{ cinema.name }}
                    </a>
                </td>
                <td>{{ cinema.address }}</td>
                <td class="column-delete">
                    <button class="btn btn-mini btn-danger cinema-delete" data-cinema="{{ cinema.id }}"
                        onclick="cinemaDeleteDlg('{% url 'cinema-delete' cinema.id %}')">
                        <i class="icon-remove icon-white"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="javascript:void(0)" class="btn btn-primary cinema-add" 
        onclick="cinemaAddDlg('{% url 'cinema-add' %}')">
        Добавить кинотеатр
    </a>

    <div class="modal hide fade" id="cinema-add-dlg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Добавление кинотеатра</h3>
        </div>
        <div class="modal-body dialog">
            <form class="cinema-add-form" action="{% url 'cinema-add' %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <label for="name">
                        Название:<br />
                        <ul class="errorlist">
                        </ul>
                        <input type="text" name="name" placeholder="Искра" value="" />
                    </label>
                    
                    <label for="address">
                        Адрес:
                        <ul class="errorlist">
                        </ul>
                        <textarea name="address" placeholder="ул. Калинина д.1">{{ form.address.value|default:"" }}</textarea>
                    </label>
                    <button type="submit" class="btn btn-primary cinema-add">
                        Добавить
                    </button>
                    <a href="#" class="btn" data-dismiss="modal">Отмена</a>        
                </fieldset>
            </form>       
        </div>        
        <div class="hide modal-body success">
            <p>Кинотеатр успешно добавлен!</p>
        </div>
        <div class="hide modal-body error">
            <p>Произошла ошибка при добавлении кинотеатра!</p>
        </div>
    </div>

    <div class="modal hide fade" id="cinema-edit-dlg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Изменение кинотеатра</h3>
        </div>
        <div class="modal-body dialog">
            <form class="cinema-edit-form" action="" method="POST">
                {% csrf_token %}
                <fieldset>
                    <label for="name">
                        Название:<br />
                        <ul class="errorlist">
                        </ul>
                        <input type="text" name="name" placeholder="Искра" value="" />
                    </label>
                    
                    <label for="address">
                        Адрес:
                        <ul class="errorlist">
                        </ul>
                        <textarea name="address" placeholder="ул. Калинина д.1">{{ form.address.value|default:"" }}</textarea>
                    </label>
                    <button type="submit" class="btn btn-primary cinema-edit">
                        Сохранить
                    </button>
                    <a href="#" class="btn" data-dismiss="modal">Отмена</a>        
                </fieldset>
            </form>       
        </div>        
        <div class="hide modal-body success">
            <p>Кинотеатр успешно изменен!</p>
        </div>
        <div class="hide modal-body error">
            <p>Произошла ошибка при сохранении кинотеатра!</p>
        </div>
    </div>

    <div class="modal hide fade" id="cinema-delete-dlg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Удаление кинотеатра</h3>
        </div>
        <div class="modal-body dialog">
            <p>Вы уверены, что хотите удалить кинотеатр?</p>
            <form class="cinema-delete-form" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="confirmed" value="true" />
                <button type="submit" class="btn btn-primary">Да</button>
                <a href="#" class="btn" data-dismiss="modal">Нет</a>
            </form>        
        </div>     
        <div class="hide modal-body success">
            <p>Кинотеатр успешно удален!</p>
        </div>
        <div class="hide modal-body error">
            <p>Произошла ошибка при удалении кинотеатра!</p>
        </div>           
    </div>
{% endblock %}