<form class="cinema-{% if form.instance.id %}edit{% else %}add{% endif %}-form" 
    {% if form.instance.id %}
        action="{% url 'cinema-edit' form.instance.id %}" 
    {% else %}
        action="{% url 'cinema-add' %}" 
    {% endif %}
    method="POST">
    {% csrf_token %}
    <fieldset>
        <label>
            {{ form.name.label }}<br />
            {% if form.name.errors %}
                {{ form.name.errors }}
            {% endif %}
            <input type="text" name="name" placeholder="Искра" value="{{ form.name.value|default:"" }}"/>
        </label>
        
        <label>{{ form.address.label }}
            {% if form.address.errors %}
                {{ form.address.errors }}
            {% endif %}
            <textarea name="address" placeholder="ул. Калинина д.1">{{ form.address.value|default:"" }}</textarea>
        </label>
        <button type="submit" class="btn btn-primary cinema-add">
            {% if form.instance.id %}Сохранить{% else %}Добавить{% endif %}
        </button>
        <a href="#" class="btn" data-dismiss="modal">Отмена</a>        
    </fieldset>
</form>
<script>
    $(function(){
        var action = '{% if form.instance.id %}edit{% else %}add{% endif %}';
        $modal_body = $("#cinema-" + action + "-dlg .modal-body");
        $(".cinema-" + action + "-form").ajaxForm({            
            'success': 
                function(response){
                    $modal_body.html(response);
                },
            'error': 
                function() {
                    $modal_body.html("Ошибка!");
                }
        });
    });
</script>