<form class="cinema-add-form" action="{% url 'cinema-add' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <label>
            {{ form.name.label }}<br />
            {% if form.name.errors %}
                {{ form.name.errors }}
            {% endif %}
            <input type="text" name="name" placeholder="Искра" value="{{ form.name.value|default:"" }}"/>
        </label>
        
        <label>{{ form.address.label }}
            {% if form.address.errors %}
                {{ form.address.errors }}
            {% endif %}
            <textarea name="address" placeholder="ул. Калинина д.1">{{ form.address.value|default:"" }}</textarea>
        </label>
        <button type="submit" class="btn btn-primary cinema-add">Добавить</button>
        <a href="#" class="btn" data-dismiss="modal">Отмена</a>        
    </fieldset>
</form>
<script>
    $(function(){
        $(".cinema-add-form").ajaxForm({
            'success': 
                function(response){
                    $("#cinema-add-dlg .modal-body").html(response);
                },
            'error': 
                function() {
                    $("#cinema-add-dlg .modal-body").html("Ошибка!");
                }
        });
    });
</script>